<%- include("../partials/top") %>

<section id="camp-section">
    <h3><%= camp.name %> </h3>
    <img src="<%= camp.imageUrl %> " alt="<%= camp.name %> ">
    <h4><%= camp.description %></h4>

    <% if (user && camp.creator.equals(user._id)) { %>
    <a href="/camps/<%= camp._id %>/edit">Edit</a>
    <form action="/camps/<%= camp._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete">
    </form>
    <% } %>

    <a href="/camps">Back</a>
</section>

<section id="comment-section">
    <div id="comment-section__comments">

        <h3>Comments</h3>

        <% camp.comments.forEach(comment => { %>

        <div class="user-comments">
            <p><b><%= comment.author %></b> - <%= comment.content %></p>
            <p><i><%= comment.date.toLocaleString() %></i></p>

            <!--authorized dynamic edit and delete button -->
            <% if (user && comment.author === user.username) { %>
            <a href="/camps/<%= camp._id %>/comments/<%= comment._id%>/edit">edit camp</a>
            <form action="/camps/<%= camp._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                <input type="submit" value="Delete">;
            </form>

            <% } %>

        </div>

        <% }); %>

    </div>

    <% if(user) { %>
    <div id="comment-section__form">
        <form action="/camps/<%= camp._id %>/comments" method="POST">
            <textarea name="content" id="" cols="30" rows="5" placeholder="Comment"></textarea> <br>
            <input type="submit" value="Comment">
        </form>
    </div>
    <% } %>
</section>

<%- include("../partials/bottom") %>