<%- include("../partials/top") %>

<h1>Edit comments</h1>

<form action="/camps/<%= campId%>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <textarea name="content" cols="30" rows="5"><%= comment.content %></textarea> <br>
    <input type="submit" value="Submit">
</form>

<%- include("../partials/bottom") %>