<%- include("partials/top") %>

<h3><%= camp.name %> </h3>
<img src="<%= camp.imageUrl %> " alt="<%= camp.name %> ">
<h4><%= camp.description %></h4>
<a href="/camps">Back</a>

<%- include("partials/bottom") %>